# Node
node_modules/
.next/
dist/
frontend/dist/
.vercel/
.env
out/
build/
*.sst

.cache/

# OS
.DS_Store
Thumbs.db

# Secrets
*.json
!package*.json
!tsconfig*.json
!firebase.json
!*.schema.json
.env
.env.*
!.env.example
