# Node
node_modules/
dist/
.env

# Python
__pycache__/
.venv/
.python-version
backend/dist/
backend/build/
*.spec
temp_*

# OS
.DS_Store
Thumbs.db

# Secrets
*.json
!package*.json
!tsconfig*.json
!firebase.json
!*.schema.json
.env
.env.*
